<!doctype html>
<html ng-app="serviceGateway">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script src="/webjars/angularjs/1.4.6/angular.min.js"></script>
    <script src="/js/entity.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div ng-controller="EntityController as controller" class="{{controller.entity.class.join(' ')}}">
      <div id="navbar" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                href="https://github.com/windyroad/service-gateway"> Service Gateway
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"> Home </a></li>
                <li ng-repeat="link in controller.entity.links"><a href="{{link.href}}" rel="{{link.rel.join(' ')}}">{{link.title || link.rel[0]}}</a></li>
                            </ul>
                
        </div>
                
      </div>
    <div class="jumbotron">
        <h1>Service Gateway</h1>
 
    <h2 ng-hide="{{controller.entity.title}}">{{controller.entity.title}}</h2>
    
      <ul class="unstyled">
        <li ng-repeat="action in controller.entity.actions">
          <h3>{{action.name}}</h3>
          <form ng-sumbit="controller.execute('{{action.name}}')" class="{{action.class}}" name="{{action.name}}" method="{{action.method || 'GET' }}" action="{{action.href}}" enctype="{{action.type || 'application/x-www-form-urlencoded'}}">
            <div ng-repeat="field in action.fields" class="{{field.class}}">
                <label for="{{action.name}}:{{field.name}}">{{field.title || field.name}}</label>
                <input type="{{field.type || 'text'}}" ng-model="field.value" name="{{field.name}}" id="{{action.name}}:{{field.name}}" value="{{field.value}}"/>
            </div>
            <input class="btn" type="submit" value="submit">
          </form>
        </li>
      </ul>
      
      
      
      <span>{{controller.remaining()}} of {{controller.todos.length}} remaining</span>
      [ <a href="" ng-click="controller.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in controller.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="controller.addTodo()">
        <input type="text" ng-model="controller.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    </div>
  

    <script type="text/javascript" src="webjars/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>